html {
  font-size: var(--html-fs);
}
body {
  font-size: 16px;
  --font-family: var(--ff);
  --second-family: var(--sf);
  --third-family: var(--tf);
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}
.container {
  max-width: 1128px;
  margin-inline: auto;
}
img {
  cursor: pointer;
}

.svg {
  transition: var(--transition);
  &:hover {
    scale: 1.1;
  }
}
