.header {
  padding: 16px 0 17px;
  .container {
    @include flex-center-spaceBetween;
    gap: 20px;
  }

  &__logo {
    flex-shrink: 0;
    transition: var(--transition);
    &:hover {
      scale: 1.05;
    }
  }

  &__nav {
    max-width: 841px;
    width: 100%;
    &-list {
      @include flex-spaceBetween-center;
      gap: 20px;
      z-index: 9;
      white-space: nowrap;
    }
    &-link {
      font: var(--txt-600-22-ff);
      color: var(--black);
      transition: var(--transition);
      &:hover {
        color: var(--yellow);
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 40px;

    &-icons {
      display: flex;
      gap: 12px;
      flex-shrink: 0;
    }
    &-link {
      transition: var(--transition);
      &:hover {
        scale: 1.05;
        box-shadow: var(--c-box-shadow);
      }
    }

    &-contacts {
      &__schedule {
        font: var(--txt-400-16-ff);
        color: var(--black);
        white-space: nowrap;
        margin-bottom: 2px;
      }
      &__block {
        display: flex;
        gap: 8px;
      }
      &__link {
        font: var(--txt-700-26-ff);
        color: var(--black);
        white-space: nowrap;
      }
      &__fone {
        font: var(--txt-700-26-ff);
        color: var(--black);
        white-space: nowrap;
      }
    }
  }
}

// Drop-down menu
.dropdown-header {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.dropdown-social {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: var(--c-box-shadow);
  z-index: 1;
}

.dropdown-social a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-social a:hover {
  background-color: var(--background-dropdown);
}

.show {
  display: block;
}
