.welcome {
  margin-top: 100px;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
    &-block {
        max-width: 1063px;
        // margin-right: -500px;
      &__desc {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--black);
      }
      &__title {
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 90px;
        line-height: 110%;
        color: var(--black);
        margin-bottom: 20px;
      }
      &__txt {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--black);
        margin-bottom: 40px;
      }
      &__btn {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 125%;
        color: var(--black);

        display: inline-block;
        border-radius: 5px;
        padding: 20px 82px;
        background: linear-gradient(132deg, #ffdf00 0%, #ffb800 100%);
      }
    }

    &-img{
        &__wrapper{
            position: relative;
            margin-right: -90px;
        }
        &__user{
            position: absolute;
            right: 150px;
            top: 250px;
        }
    }

    &-svg{
        &__circle{
            position: absolute;
        }
    }
  }
}
