:root {
  --html-fs: 1px;
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-900-80-ff: normal 900 80px / 110% var(--ff);
  --txt-800-44-ff: normal 800 44px / 125% var(--ff);
  --txt-700-26-ff: normal 700 26px / 125% var(--ff);
  --txt-700-20-150-ff: normal 700 20px / 150% var(--ff);
  --txt-700-20-125-ff: normal 700 20px / 150% var(--ff);
  --txt-700-14-ff: normal 700 14px / 125% var(--ff);
  --txt-600-22-ff: normal 600 22px / 125% var(--ff);
  --txt-600-20-ff: normal 600 20px / 125% var(--ff);
  --txt-400-20-ff: normal 400 20px / 150% var(--ff);
  --txt-400-16-ff: normal 400 16px / 125% var(--ff);
 

  --black: #333;
	--yellow: #ffd00e;
	--white: #fff;
  --background-dropdown: #f1f1f1;
  --background-indicator: #bbb;
  --background-btn: linear-gradient(132deg, #ffdf00 0%, #ffb800 100%);
  --c-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --c-border-drupal: 2px solid rgba(69, 77, 82, 0.05);
}
