:root {
  --html-fs: 1px;
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-700-26-ff: normal 700 26px / 125% var(--ff);
  --txt-600-22-ff: normal 600 22px / 125% var(--ff);
  --txt-400-16-ff: normal 400 16px / 125% var(--ff);
 

  --black: #333;
	--yellow: #ffd00e;
	--white: #fff;
  --background-dropdown: #f1f1f1;
  --c-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
