html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --html-fs: 1px;
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;
  --txt-900-80-ff: normal 900 80px / 110% var(--ff);
  --txt-800-44-ff: normal 800 44px / 125% var(--ff);
  --txt-700-26-ff: normal 700 26px / 125% var(--ff);
  --txt-700-20-150-ff: normal 700 20px / 150% var(--ff);
  --txt-700-20-125-ff: normal 700 20px / 150% var(--ff);
  --txt-700-14-ff: normal 700 14px / 125% var(--ff);
  --txt-600-22-ff: normal 600 22px / 125% var(--ff);
  --txt-600-20-ff: normal 600 20px / 125% var(--ff);
  --txt-400-20-ff: normal 400 20px / 150% var(--ff);
  --txt-400-16-ff: normal 400 16px / 125% var(--ff);
  --black: #333;
  --yellow: #ffd00e;
  --white: #fff;
  --background-dropdown: #f1f1f1;
  --background-indicator: #bbb;
  --background-btn: linear-gradient(132deg, #ffdf00 0%, #ffb800 100%);
  --c-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --c-border-drupal: 2px solid rgba(69, 77, 82, 0.05);
}

html {
  font-size: var(--html-fs);
}

body {
  font-size: 16px;
  --font-family: var(--ff);
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}

.container {
  max-width: 1800px;
  margin-inline: auto;
  padding: 0 15px;
}

.svg {
  transition: var(--transition);
}
.svg:hover {
  scale: 1.05;
}

.title {
  font: var(--txt-800-44-ff);
  color: var(--black);
  margin-bottom: 50px;
}

.none {
  display: none !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.col-5 {
  width: 20%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-5 {
    width: 100%;
  }
}

.col-4 {
  width: 25%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-4 {
    width: 100%;
  }
}

.col-3 {
  width: 33.33%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-3 {
    width: 100%;
  }
}

.col-25 {
  width: 40%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-25 {
    width: 100%;
  }
}

.col-2 {
  width: 50%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-2 {
    width: 100%;
  }
}

.col-2m {
  width: 50%;
  padding: 0 10px 10px;
}

.col-23 {
  width: 66.66%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-23 {
    width: 100%;
  }
}

.col-1 {
  width: 100%;
  padding: 0 10px 10px;
}

.header {
  padding: 16px 0 17px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  flex-shrink: 0;
  transition: var(--transition);
}
.header__logo:hover {
  scale: 1.05;
}
.header__nav {
  max-width: 841px;
  width: 100%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 9;
  white-space: nowrap;
}
.header__nav-link {
  font: var(--txt-600-22-ff);
  color: var(--black);
  transition: var(--transition);
}
.header__nav-link:hover {
  color: var(--yellow);
}
.header__social {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__social-icons {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
}
.header__social-link {
  transition: var(--transition);
}
.header__social-link:hover {
  scale: 1.05;
  box-shadow: var(--c-box-shadow);
}
.header__social-contacts__schedule {
  font: var(--txt-400-16-ff);
  color: var(--black);
  white-space: nowrap;
  margin-bottom: 2px;
}
.header__social-contacts__block {
  display: flex;
  gap: 8px;
}
.header__social-contacts__link {
  font: var(--txt-700-26-ff);
  color: var(--black);
  white-space: nowrap;
}
.header__social-contacts__fone {
  font: var(--txt-700-26-ff);
  color: var(--black);
  white-space: nowrap;
}

.dropdown-header {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.dropdown-social {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: var(--c-box-shadow);
  z-index: 1;
}

.dropdown-social a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-social a:hover {
  background-color: var(--background-dropdown);
}

.show {
  display: block;
}

.welcome .welcome__section {
  padding: 100px 0 343px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.welcome .welcome__section-contacts {
  max-width: 1063px;
}
.welcome .welcome__section-contacts__desc {
  font: var(--txt-700-20-150-ff);
  color: var(--black);
}
.welcome .welcome__section-contacts__title {
  font: var(--txt-900-80-ff);
  color: var(--black);
  margin-bottom: 20px;
  margin-right: -200px;
}
.welcome .welcome__section-contacts__txt {
  font: var(--txt-700-20-150-ff);
  color: var(--black);
  margin-bottom: 40px;
}
.welcome .welcome__section-contacts__btn {
  font: var(--txt-700-20-125-ff);
  color: var(--black);
  display: inline-block;
  border-radius: 5px;
  padding: 20px 82px;
  background: var(--background-btn);
  transition: var(--transition);
}
.welcome .welcome__section-contacts__btn:hover {
  opacity: 0.8;
}
.welcome .welcome__section-img {
  position: relative;
  margin-bottom: -300px;
}
.welcome .welcome__section-img__wrapper {
  margin-right: -30px;
}
.welcome .welcome__section-img__user {
  position: absolute;
  right: 0px;
  top: 30px;
}
.welcome .welcome__section .circle__d296 {
  position: absolute;
  left: 0;
  top: 67px;
  width: 296px;
  height: 436px;
  z-index: -1;
}
.welcome .welcome__section .circle__d218 {
  position: absolute;
  left: 506px;
  top: 426px;
  width: 218px;
  height: 218px;
  z-index: -1;
}
.welcome .welcome__section .circle__d93 {
  position: absolute;
  left: 1100px;
  top: 67px;
  width: 93px;
  height: 93px;
  z-index: -1;
}
.welcome .welcome__section .circle__d31 {
  position: absolute;
  left: 954px;
  top: 513px;
  width: 31px;
  height: 31px;
  z-index: -1;
}
.welcome .welcome__section-scroll {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 47px;
  transition: var(--transition);
}
.welcome .welcome__section-scroll:hover {
  scale: 1.1;
}
.welcome .welcome__section-scroll__txt {
  font: var(--txt-700-14-ff);
  color: var(--black);
  margin-bottom: 16px;
}
.welcome .welcome__section-scroll__arrow {
  width: 20px;
  height: 29px;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carousel-item {
  min-width: 100%;
}

.indicators {
  position: absolute;
  bottom: 110px;
  left: 60px;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  height: 16px;
  width: 16px;
  background-color: var(--background-indicator);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--yellow);
}

.work {
  padding: 100px 0;
}
.work-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.work-section__content {
  max-width: 830px;
  height: 320px;
  overflow: auto;
}
.work-section__content::-webkit-scrollbar {
  border-radius: 2px;
  width: 7px;
  height: 149px;
}
.work-section__content::-webkit-scrollbar {
  width: 7px;
  height: 149px;
}
.work-section__content::-webkit-scrollbar-track {
  background: var(--background-dropdown);
}
.work-section__content::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 2px;
}
.work-section__content::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}
.work-section__weight400 {
  font: var(--txt-400-20-ff);
  color: var(--black);
}
.work-section__weight700 {
  font: var(--txt-700-20-150-ff);
  color: var(--black);
}

.advertising {
  background: var(--background-btn);
  opacity: 0.7;
  padding: 50px 0;
  margin-bottom: 100px;
}
.advertising .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.advertising-content {
  max-width: 870px;
}
.advertising-content__desc {
  font: var(--txt-700-26-ff);
  color: var(--black);
  margin-bottom: 15px;
}
.advertising-content__info {
  font: var(--txt-400-20-ff);
  color: var(--black);
  margin-bottom: 15px;
}
.advertising-content__txt {
  font: var(--txt-700-20-150-ff);
  color: var(--black);
  margin-bottom: 28px;
}
.advertising-content__txt span {
  font: var(--txt-400-20-ff);
}
.advertising-content__social {
  display: flex;
  gap: 50px;
}
.advertising-img {
  padding-right: 65px;
}

.glossiness__logo {
  width: 432px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.glossiness__logo-rimL {
  margin-right: -170px;
}
.glossiness__logo-gL {
  margin-right: -66px;
}
.glossiness__logo-gR {
  margin-left: -66px;
}
.glossiness__logo-rimR {
  margin-left: -170px;
}
.glossiness__logo-circle1 {
  position: absolute;
  top: 0px;
  left: 120px;
}
.glossiness__logo-circle2 {
  position: absolute;
  top: 80px;
  left: 15px;
}
.glossiness__logo-circle3 {
  position: absolute;
  top: 200px;
  left: -25px;
}
.glossiness__logo-circle4 {
  position: absolute;
  bottom: 100px;
  left: 5px;
}
.glossiness__logo-circle5 {
  position: absolute;
  bottom: 0px;
  left: 120px;
}
.glossiness__logo-circle6 {
  position: absolute;
  top: 0px;
  right: 120px;
}
.glossiness__logo-circle7 {
  position: absolute;
  top: 80px;
  right: 15px;
}
.glossiness__logo-circle8 {
  position: absolute;
  top: 200px;
  right: -25px;
}
.glossiness__logo-circle9 {
  position: absolute;
  bottom: 100px;
  right: 5px;
}
.glossiness__logo-circle10 {
  position: absolute;
  bottom: 0px;
  right: 120px;
}
.glossiness__block {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.glossiness__block-title {
  font: var(--txt-700-20-125-ff);
  text-align: right;
  color: var(--black);
  margin-bottom: 10px;
}
.glossiness__block-desc {
  font: var(--txt-400-16-ff);
  text-align: right;
  color: var(--black);
}
.glossiness__block-desc span {
  font-weight: 700;
}
.glossiness__block .txt-left {
  text-align: left;
}
.glossiness__block-icon {
  flex-shrink: 0;
  padding: 20px;
  border-radius: 50%;
  background: var(--yellow);
  cursor: pointer;
}

.grid-container {
  position: relative;
  height: 750px;
}

.section {
  position: absolute;
  padding: 0 20px;
}

#section1 {
  top: 0%;
  left: 6%;
}

#section2 {
  top: 20%;
  left: 0%;
}

#section3 {
  top: 40%;
  left: -2%;
}

#section4 {
  top: 60%;
  left: 0%;
}

#section5 {
  top: 80%;
  left: 6%;
}

#section6 {
  top: 0%;
  right: 6%;
  padding-top: 10px;
}

#section7 {
  top: 20%;
  right: 0%;
}

#section8 {
  top: 40%;
  right: -2%;
}

#section9 {
  top: 60%;
  right: 0%;
}

#section10 {
  top: 80%;
  right: 6%;
  padding-top: 10px;
}

.gallery {
  position: relative;
  margin: 100px 0 100px;
}
.gallery .swiper-wrapper {
  gap: 14px;
}
.gallery__arrowL {
  position: absolute;
  display: inline-block;
  top: 38px;
  left: 50px;
  padding: 16px 12px;
  background: var(--white);
  z-index: 9;
  cursor: pointer;
}
.gallery__img {
  width: 100%;
}
.gallery__arrowR {
  position: absolute;
  top: 117px;
  right: 50px;
  z-index: 9;
  padding: 16px 12px;
  background: var(--yellow);
  cursor: pointer;
}

.drupal {
  margin-bottom: 100px;
}
.drupal-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.drupal-section__block {
  position: relative;
  padding: 20px 30px 30px;
  border: var(--c-border-drupal);
  border-radius: 10px;
  cursor: pointer;
  background: var(--white);
  transition: var(--transition);
}
.drupal-section__block:hover {
  background: var(--yellow);
}
.drupal-section__title {
  padding-top: 15px;
  font: var(--txt-600-20-ff);
  color: var(--black);
  margin-bottom: 15px;
}
.drupal-section__txt {
  font: var(--txt-400-16-ff);
  color: var(--black);
}
.drupal-section__txt span {
  font-weight: 700;
}
.drupal-section__element {
  position: absolute;
  right: 0px;
  top: 0px;
}

.brands-slider {
  position: relative;
  display: flex;
  gap: 30px;
}
.brands .brands-arrow {
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
